<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Skeleton.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Skeleton.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Skeleton.Properties.Settings>
            <setting name="SettingCaptureStartMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingCaptureStopAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingFilenameRawDataReplay" serializeAs="String">
                <value>Skeleton_conversion.txt</value>
            </setting>
            <setting name="SettingFilenameUserCalibrationLoad" serializeAs="String">
                <value>SampleUserCalibration.bin</value>
            </setting>
            <setting name="SettingRootDirectory" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="SettingUseCalibrationFile" serializeAs="String">
                <value>False</value>
            </setting>
        </Skeleton.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Skeleton.Properties.Settings>
            <setting name="DefaultEnableRawDataCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFilenameBaseBVH" serializeAs="String">
                <value>Skeleton_conversion</value>
            </setting>
            <setting name="DefaultFilenameBaseRawData" serializeAs="String">
                <value>Skeleton_conversion</value>
            </setting>
            <setting name="DefaultFilenameExtensionRawData" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="DefaultFilenameLog" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="DefaultFilenameUserCalibrationSave" serializeAs="String">
                <value>NewUserCalibration.bin</value>
            </setting>
            <setting name="DefaultOpenNIConfigFile" serializeAs="String">
                <value>OpenNIConfig.xml</value>
            </setting>
            <setting name="DefaultSkeletonModelInitialiseDelay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultUniqueOutputFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </Skeleton.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
